@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan.ttf');
}

@font-face {
  font-family: 'Staatliches';
  src: url('/fonts/Staatliches.ttf');
}

body {
  font-family: 'League Spartan', sans-serif;
  background: rgb(25,25,21);
  color: theme('colors.gray.200');
}

.negre {
  background: rgb(25,25,21);
}

.pink {
  background: rgb(255, 169, 192);
}

.text-pink {
  color: rgb(255, 169, 192);
}

.pink-darker { 
  background: #55363f;
}

.boto {
  background: rgb(90,188,127);
}

.green {
  background: rgb(90,188,127);
}

.blau {
  background: rgb(132, 202, 236);
}

.text-blau {
  color: rgb(132, 202, 236);
}

.fosc {
  background:  rgb(25,25,21);;
}

.groc {
  background: rgb(254,218,124)
}

.purple {
  background: rgba(119,120,187,255);
}

.border-pink {
  border-color: rgb(255, 169, 192);
}

.border-groc {
  border-color: rgb(254,218,124);
}

.border-green {
  border-color: rgb(90,188,127);
}

.border-pink-darker { 
  border-color: #55363f;
}

.border-purple {
  border-color: rgb(119,120,187);
}

.text-green {
  color: rgb(90,188,127);
}

.text-groc {
  color: rgb(254,218,124);
}

.text-purple {
  color: rgb(119,120,187);
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  transition: all 0.1s;
  border-radius: 10px;
  border: 2px solid theme('colors.gray.900');
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1;
}

*::-webkit-scrollbar-thumb:focus {
  background-color: #c1c1c1;
}

.autocomplete-list {
  background:  rgb(25,25,21) !important;
  padding: theme('padding.1') theme('padding.2') !important;
  max-height: 40vh !important;
}

.autocomplete-list-item {
  padding: theme('padding.0') !important;
  margin-top: theme('margin.2');
  margin-bottom: theme('margin.2');
}
